/* The side navigation menu */
.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #333;
    height: 100%; /* Full height */
    padding-top: 60px; /* Place content 60px from the top */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f2f2f2;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    background-color: #555;
}

body {    
    margin: 0 !important;
    padding: 0 !important;
    background-color: #ffffcc;
}

h1  {
    text-align:center;
    font-family: blackchancery, Arial, Helvetica, Sans-Serif;
    font-size: 50px;
}

p   {
    text-indent:20px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    padding-left: 10%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

@font-face {
    font-family: blackchancery;
    src: url(../fonts/BLKCHCRY.ttf);
}